<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!-- 個別CSS読み込み -->
		<link rel="stylesheet"th:href="@{/css/style.css}">
	</head>
	<body>
		<!-- header.html -->
		<nav layout:replace="~{BBS/common/header::header}"></nav>
		<!-- delete.html -->
		<div layout:replace="~{BBS/common/delete::delete}"></div>
	</body>
	<!-- 個別JS読み込み -->
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</html>